.color-apd{
    color: #D41A1A !important;
}
.border-color-apd{
    border-color: #D41A1A  !important;
}
.background-color-apd{
    background: #D41A1A !important; 
    color: white;
}

.color-full-api{
    color: #2290e9 !important;
}
.border-color-full-api{
    border-color: #2290e9  !important;
}
.background-color-full-api{
    background: #2290e9 !important; 
    color: white;
}

.color-rounders{
    color: #D8BC41 !important;
}
.border-color-rounders{
    border-color: #D8BC41  !important;
}
.background-color-rounders{
    background: #D8BC41 !important; 
    color: white;
}

.color-cashout{
    color: #00BE67 !important;
}
.border-color-cashout{
    border-color: #00BE67  !important;
}
.background-color-cashout{
    background: #00BE67 !important; 
    color: white;
}

.color-astropay{
    color: #D41A1A !important;
}
.border-color-apc{
    border-color: #D41A1A  !important;
}
.background-color-astropay{
    background:  #D41A1A !important; 
    border-color: #D41A1A !important; 
    color: white;
}


#apd-streamline-menu,
#apd-classic-menu ,
#one-shot-menu, 
#pre-approval-menu,
#apc-menu,
#rounders-menu,
#cashout-cash-menu,
#cashout-cards-menu{
    display: none;
}

.small-subtitle{
    font-size:50%;
}

.main-logo{
    width: 30%;
}

.width-800{
    width: 800px;
}